@tailwind base;
@tailwind components;
@tailwind utilities;

.loading::after {
  display: block;
  animation: loadingDots steps(1,end) 5s infinite;
  content: '\00a0';
}

@keyframes loadingDots {
    0%   { content: '\00a0'; }
    25%  { content: '.'; }
    50%  { content: '. .'; }
    75%  { content: '. . .'; }
    100% { content: '\00a0'; }
}
